@model GameSiteProject.ViewModels.EditViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<h2>Edit Profile</h2>

<form asp-action="EditUser" method="post">
    <div class="form-group">
        <label asp-for="Nickname"></label>
        <input asp-for="Nickname" class="form-control" />
        <span asp-validation-for="Nickname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfilePicturePath">PFP Path</label>
        <input asp-for="ProfilePicturePath" class="form-control" />
        <span asp-validation-for="ProfilePicturePath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInformation">Information</label>
        <input asp-for="UserInformation" class="form-control" />
        <span asp-validation-for="UserInformation" class="text-danger"></span>
    </div>    
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
