@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Кашевар Костянтин</h1>
    <footer>ІПЗ-22-1, тема курсової роботи: Вебресурс рецензування ігор</footer>
</div>