@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Потужний ігровий форум</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head> 
<body>
@foreach (var discussion in Model)
{
    <div class="forum-thread">
        <a href="@Url.Action("ViewDiscussion", "ForumThread", new { id = discussion.ForumThreadId })">
            <p>Game: @discussion.Game.Title</p>
            <p>Created by: @discussion.User.Nickname</p>
            <p>Posted on: @discussion.DateCreated.ToString("dd/MM/yyyy")</p>
        </a>
    </div>
}
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
