<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Потужний ігровий форум</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
@foreach (var thread in Model)
{
    <div class="forum-thread">
        <p>Game: @thread.Game.Title</p>
        <p>Created by: @thread.User.Nickname</p>
        <p>Posted on: @thread.DateCreated.ToString("MM/dd/yyyy")</p>
    </div>
}
</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
