@model IEnumerable<GameSiteProject.Models.Message>
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Inbox - GameLens</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Inbox</h1>
    @if (Model.Any())
    {
        <ul class="list-group">
            @foreach (var message in Model)
            {
                <li class="list-group-item">
                    <div>
                        <strong>@message.Sender.Nickname</strong> 
                        <span>-></span>
                        <strong>@message.Receiver.Nickname</strong>
                    </div>
                    <p>@message.Content</p>
                    <small>@message.DateSent.ToString("g")</small>
                </li>
            }
        </ul>
    }
    else
    {
        <p>You have no messages.</p>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>