@model IEnumerable<Message>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Messages - GameLens</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Особисті повідомлення</h1>
    <ul class="list-group">
        @foreach (var message in Model)
        {
            <li class="list-group-item">
                <strong>@message.Sender.Username</strong> -> 
                <strong>@message.Receiver.Username:</strong> 
                @message.Content <br />
                <small>@message.DateSent.ToString("g")</small>
            </li>
        }
    </ul>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>